<div class="comment-feed">
    {{#each this}}
    <section class="comments">
        <div class="uk-text-warning">
            {{user.username}} on {{format_date post_date}}
        </div>
        <div class="v-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>