<input type="text" id="friends-list" onkeyup="friendsSearch()" placeholder="Search list">
    <ul id="friends-container">
        {{#filter_result this 5}}
        <li>{{ username }}</li>>
        {{/filter_result}}
    </ul>
{{!-- <button id="friends-list"> Friends List </button> --}}
<!-- Friends List -->
<div id="game-calendar">
    <!-- Schedule -->
</div>
