<div id="user-profile">
    <!-- Profile Pic (how do we fetch user uploaded images and inject here??)-->
    <!-- User Info - Username, Games, Platforms, Schedule -->
    <ol>
        <li>
        {{username}}
        </li>  
        <li>
            {{friends-list}}
        </li>
        <li>
            {{game_id}}
        </li>
        <li>
            {{schedule}}
        </li>
    </ol>
</div>