<div id="user-profile">
    <ol>
        <li>
        {{username}}
        </li>  
        <li>
            {{friends-list}}
        </li>
        <li>
            {{game_id}}
        </li>
        <li>
            {{schedule}}
        </li>
    </ol>
</div>