{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYPERLINK</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css">
</head>

<body>
    
    <div class="">
        <header>
            <h1>
                <a href="/">H Y P E R L I N K</a>"
            </h1>
        </header>
        <div>
            This is where user data/profile info will go (left side of page)
        </div>
        <main>
            {{{ body }}}
        </main>
        <div>
            This is where online info will go (right side of page)
        </div>
        <footer>
            Thanks for playing!
        </footer>
    </div>
    
</body>
</html> --}}