<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYPERLINK</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css">
</head>

<body>
    <div class="">
        <header class ="uk-background-secondary uk-grid uk-flex-center uk-flex-between@s">
            <h2>
                <a href="/" class="uk-text-italic">H Y P E R L I N K</a>
            </h2>
            <nav class="uk-flex-right">
                {{!-- <!-- Logout and Create Post buttons IF user is logged in --> --}}
                {{#if loggedIn}}
                <a href="/" class="uk-margin-right">Lobby</a>
                <button id="create-post" onclick="window.location.href='/dashboard'" class="uk-button uk-button-primary uk-button-small">+Post</button>
                <button id="logout" class="uk-button uk-button-secondary uk-button-small">Logout</button>

                {{else}}
                {{!-- point user to login screen when clicked --}}
                <a href="/login">Login/Signup</a>
                {{/if}} 
            </nav>
        </header>
        
        <div class="uk-flex">
            <main  class="uk-flex uk-flex-center uk-align-center uk-padding uk-background-secondary uk-flex-auto">
                <!-- post feed -->
                {{{ body }}}
            </main>
            <footer class="uk-background-secondary uk-flex uk-flex-center uk-position-bottom">
                Thanks for playing!
            </footer>
        </div>
    </div>

    {{!-- logout logic --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/friends-search.js"></script>
    {{/if}}
</body>
</html>