<section>
    <h1 class="uk-text-italic uk-text-warning"> Welcome </h1>
  <h2 class="uk-text-bold uk-text-primary">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="uk-text-primary uk-text-italic">Title</label>
      <input type="text" id="post-title" name="post-title" class="uk-input uk-form-small"/>
    </div>
    <div>
      <label for="post-text" class="uk-text-primary uk-text-italic">Post Text</label>
      <input id="post-text" name="post-text" class="uk-input uk-form-large"/>
    </div>
    <button type="submit" class="btn uk-button-primary uk-button-large uk-margin-top">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>