<section>
    <h1> Welcome </h1>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Post Text</label>
      <input id="post-text" name="post-text" />
    </div>
    {{!-- game selector --}}
    <div>
        <select name="post-game">
            <option value="Destiny 2">Destiny 2</option>
            <option value="Mortal Kombat 11">Mortal Kombat 11</option>
            <option value="NBA 2K22">NBA 2K22</option>
            <option value="Sea of Thieves">Sea of Thieves</option>
            <option value="Final Fantasy XIV">Final Fantasy XIV</option>
        </select>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>