<ol class="post-list uk-list uk-list-large uk-list-divider uk-animation-slide-top-medium">
  {{#each posts as |post|}}
  <li class="uk-text-warning">
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
