<form class="login-form uk-align-left">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" class="uk-input uk-form-small" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" class="uk-input uk-form-small" />
  </div>
  <div>
    <button type="submit" class="uk-button uk-button-primary uk-margin-top">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" class="uk-input uk-form-small"/>
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" class="uk-input uk-form-small"/>
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" class="uk-input uk-form-small"/>
  </div>
  <div>
    <button type="submit" class="uk-button uk-button-primary uk-margin-top">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>